<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminView</title>
    <link rel="stylesheet" href="style.css"> <!-- Include your custom style file -->
</head>
<body>

<div class="simple-container">
    <h2>TODO Admin, add something like name </h2>

    <a href="/welcome"><button class="top-right-button">TODO poradny logout</button></a>

    <div class="middle-buttons">
        <a href="/managerRegistrationForm"><button>Přidej manažera jídelny</button></a>
        <a href="/locationRegistrationForm"><button>Přidej jídelnu</button></a>
        <a href="/locationView"><button>Spravuj lokace</button></a>
        <a href="/managerView"><button>Spravuj manažery</button></a>
    </div>
</div>

</body>
</html>
