<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>managerView</title>
    <link rel="stylesheet" href="style.css"> <!-- Include your custom style file -->
</head>
<body>

<div class="simple-container">
    <h2>TODO Manažer, add something like name </h2>

    <a href="/welcome"><button class="top-right-button">TODO poradny logout</button></a>

    <div class="middle-buttons">
        <a href="/employeeRegistrationForm"><button>Přidej zaměstnance jídelny</button></a>
        <a href="/foodRegistrationForm"><button>Přidej jídlo</button></a>
        <a href="/foodView"><button>Zobraz nabízená jídla</button></a>
        <a href="/employeeView"><button>Spravuj zamestnance</button></a>
    </div>
</div>

</body>
</html>
