<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminView</title>
    <link rel="stylesheet" href="style.css"> <!-- Include your custom style file -->
</head>
<body>

<div class="simple-container">
    <h2>Vítej <span th:text="${username}"></span>, v roli: <span th:text="${role}"></span>, ládování v: <span th:text="${locationName}"></span> </h2>

    <a href="/logout"><button class="top-right-button">TODO poradny logout</button></a>

    <h2>Vaše dnešní pochoutka: <span th:text="${todayFood}"></span></h2>

    <a href="/foodByUserGet"><button class="return-button">Zobrazit vaše objednávky</button></a>


    <div class="middle-buttons">

    </div>
</div>

</body>
</html>
